/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #2b5797;
    color: white;
    text-align: center;
    padding: 2rem 0;
    width: 100%;
    
}

header h1 {
    margin: 0;
    font-size: 2rem;
    padding: 2rem 0;

}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #1a365d;
}

main {
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    box-sizing: border-box;
}

.view-toggle {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.view-toggle button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #2b5797;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.view-toggle button:hover {
    background-color: #1a365d;
}

/* Member List Styles */
#member-list.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

#member-list.list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.member-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.member-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.member-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.member-card h3 {
    margin: 0.5rem 0;
    color: #2b5797;
}

.member-card p {
    margin: 0.5rem 0;
    color: #666;
}

.member-card a {
    color: #2b5797;
    text-decoration: none;
}

.member-card a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: #2b5797;
    color: white;
    text-align: center;
    padding: 4rem;
    width: 100%;
    margin-top: auto;
}

footer p {
    margin: 0;
}


/* Media queries for different screen sizes */
@media (min-width: 420px) {
    header h1 {
        font-size: 1em;
    }

    nav ul {
        flex-direction: row;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li a {
        font-size: 1em;

    }

    #member-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

